# =========================
# Angular / Node
# =========================
node_modules/
dist/
.angular/
.cache/
.npm/

# =========================
# ASP.NET / .NET
# =========================
bin/
obj/

# =========================
# Visual Studio
# =========================
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# =========================
# Environment / Secrets
# =========================
.env
.env.*
!.env.example

# =========================
# SQL Server local database
# =========================
*.mdf
*.ldf

# =========================
# Logs
# =========================
*.log

# =========================
# Windows
# =========================
Thumbs.db
Desktop.ini

# =========================
# macOS
# =========================
.DS_Store