<div class="container mt-4">

    <h2 class="text-center mb-5">
        Receptionist Dashboard
    </h2>

    <!-- Booking Management -->

    <h3 class="mb-3">
        Booking Management
    </h3>

    <div class="row">

        <div class="col-md-6 mb-4">

            <div class="card shadow h-100">

                <div class="card-body text-center">

                    <h4>Pending Bookings</h4>

                    <p>
                        View all customer booking requests.
                    </p>

                    <a
                        routerLink="/pending-bookings"
                        class="btn btn-warning">

                        View Bookings

                    </a>

                </div>

            </div>

        </div>

        <div class="col-md-6 mb-4">

            <div class="card shadow h-100">

                <div class="card-body text-center">

                    <h4>Booking History</h4>

                    <p>
                        View accepted and rejected bookings.
                    </p>

                    <a
                        routerLink="/booking-history"
                        class="btn btn-primary">

                        Booking History

                    </a>

                </div>

            </div>

        </div>

    </div>

</div>
