<div class="container mt-4">

    <h2 class="mb-4">

        Occupied Rooms

    </h2>

    <table class="table table-bordered table-hover">

        <thead class="table-dark">

            <tr>

                <th>Room No</th>
                <th>Room Type</th>
                <th>Floor</th>
                <th>Status</th>
                <th>Customer Name</th>

            </tr>

        </thead>

        <tbody>

            <tr *ngFor="let room of rooms">

                <td>{{room.roomNumber}}</td>
                

                <td>{{room.roomTypeName}}</td>

                <td>{{room.floor}}</td>

                <td>

                    <span class="badge bg-danger">

                        Occupied

                    </span>

                </td>

                <td>{{ room.customerName || 'No Customer' }}</td>

            </tr>

        </tbody>

    </table>

</div>
