<div class="container mt-4">

    <h2 class="text-center mb-5">
        Staff Dashboard
    </h2>

    <!-- My Tasks -->

    <h3 class="mb-3">
        Task Management
    </h3>

    <div class="row">

        <div class="col-md-6 mb-4">

            <div class="card shadow h-100">

                <div class="card-body text-center">

                    <h4>My Tasks</h4>

                    <p>
                        View all tasks assigned to you.
                    </p>

                    <a
                        routerLink="/my-tasks"
                        class="btn btn-primary">

                        View Tasks

                    </a>

                </div>

            </div>

        </div>

        <div class="col-md-6 mb-4">

            <div class="card shadow h-100">

                <div class="card-body text-center">

                    <h4>Completed Tasks</h4>

                    <p>
                        View your completed work.
                    </p>

                    <a
                        routerLink="/completed-tasks"
                        class="btn btn-success">

                        Completed Tasks

                    </a>

                </div>

            </div>

        </div>

    </div>

   

</div>


